@tailwind base;
@tailwind components;
@tailwind utilities;

.fraunces-regular {
    font-family: "Fraunces", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings: "SOFT" 0, "WONK" 0;
}

.fraunces-bold {
    font-family: "Fraunces", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "SOFT" 0, "WONK" 0;
}
  
.gradient-background {
    background: linear-gradient(to bottom, #cad3ec 0%, #ebe9e3 30%);
    min-height: 100vh;
}

.text-gradient {
    --tw-gradient-from: #ffffff var(--tw-gradient-from-position);
    --tw-gradient-to: #ebe9e3 var(--tw-gradient-to-position);
    --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
}

.normal-text {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.montserrat-light {
    font-weight: 300;
}

.montserrat-regular {
    font-weight: 400;
}

.montserrat-bold {
    font-weight: 700;
}

.playfair-regular {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.playfair-italic {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: italic;
}

.playfair-bold {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.playfair-bold-italic {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: italic;
}

.blue {
    color: #455EB6;
}

.btn-bg {
    background-color: rgba(143,163,217,0.55);
}

.bottom-border {
    border-bottom: 1px solid rgba(143,163,217,0.55);
}

.btn-bg:hover {
    background-color: rgba(143,163,217,0.4);
}

.white-background {
    background-color: #ebe9e3;
}

.input-height {
    height:1.5em;
    width: 1.5em;
}

.bg-blue {
    background-color: #455eb6;
}

.white {
    color: #ebe9e3;
}

.icon-width {
    max-width:3.5em;
    min-width:3.5em;
}

.blue-top-border {
    border-top: 1px solid rgba(143,163,217,0.4);
}

.blue-bottom-border {
    border-bottom: 1px solid rgba(143,163,217);
}

@media screen and (min-width:776px) {
    .blue-right-border {
        border-right: 1px solid rgba(143,163,217,0.4);
    }
}

.image-grid {
    column-gap: .5em;
    margin-bottom: .5em;
}

.image-grid img {
    width: 100%;
    height: auto;
    display: block;
    break-inside: avoid;
    margin-bottom: .5em;
}

@media (max-width: 768px) {
    .image-grid {
        column-count: 2;
    }
}


@media (min-width: 769px) {
    .image-grid {
        column-count: 3;
    }
}

.fade-in {
    opacity: 0;
    transition: 1s all ease-out;
}

  .fade-in-smooth {
    animation: fadeInAnimation ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
